*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F3F3E0;
    width: 100%;
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #26548A;
    color: #fff;
    padding: 30px;
}

.nav img{
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(158deg) brightness(114%) contrast(100%);
   margin-left: 20px;
}

.nav h1{
    font-size: 60px;
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}

.inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.inputBox input{
    width: 30%;
    height: 50px;
    padding: 20px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.inputBox button{
    width: 100px;
    height: 50px;
    background: #183B4E;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 0px 10px 10px 0px;
}

.inputBox button:hover{
    font-size: 26px;
}

.inputBox button:active{
    background: #fff;
    color: #183B4E;
}

.habitContainer{
        margin: 50px auto;
        position: relative;
        overflow-y: auto;
        width: 90%;
        max-width: 600px;
        max-height: 450px;
        background: #183B4E;
        border: 3px solid #fff;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.habit img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.habit{
    width: 90%;
    max-width: 500px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #DDA853;
    border: 2px solid #fff;
    border-radius: 10px;
}

.habit h2{
    text-transform: capitalize;
}

.days{
    display: flex;
    padding-top: 10px;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}
    
.deleteBtn{
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(158deg) brightness(114%) contrast(100%);
    position: absolute;
    left: 85%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.deleteBtn:hover{
    transform: scale(1.2);
}

.days img.checked{
    content: url(icons/circle-check-solid.svg);
    filter: invert(45%) sepia(12%) saturate(2659%) hue-rotate(57deg) brightness(94%) contrast(80%);
    
}

